body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 12 !important;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}

.flex-container .col {
  flex: 1;
  flex-basis: 50px;
}

.hidden-title {
  display: none;
}

footer {
  background-color: darkslategray;
  color: white;
  height: 50px;
  flex-shrink: 0;
  padding: 20px;
}

button {
  font-size: 12px !important;
}

#gridHeader {
  font-size: 14px;
}

#Journey {
  font-size: 14px;
}

/* Helper classes */

.bold {
  font-weight: bold;
}

/* Media Queries */

/* Tablets */
@media screen and (min-width:481px) and (max-width: 768px) {
  #gridHeader {
    display: none;
  }

  .counter {
    display: none;
  }

  .hidden-title {
    display: inline-block;
  }

  button {
    font-size: 14px !important;
  }
}


/* Phones */
@media screen and (max-width:480px) {
  #gridHeader {
    display: none;
  }

  .counter {
    display: none;
  }

  .hidden-title {
    display: inline-block;
  }

  button {
    font-size: 14px !important;
  }

  .footer {
    margin-top: 150px;
    padding: 150px;
  }
}